* {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


body {
    background-color: #F3F1F1;
    box-sizing: border-box;

}

header {
    top: 10;
    z-index: 10;
}

.container-header {
    background-color: #861a2e;
    display: flex;
    justify-content: space-around;
    color: #F3F1F1;
    padding: 15px;
    padding-left: auto;
    padding-right: auto;
}

.container-logo h1 {
    font-weight: 100;
    letter-spacing: 2px;
}

.navlist ul {

    display: flex;
    list-style: none;
    align-items: center;
    text-align: center;
    color: #F3F1F1;
}

.navlist {
    display: flex;
}

.navlist li a {
    letter-spacing: 3px;
    margin-left: 24px;
    text-transform: uppercase;
    color: #F3F1F1;
    text-decoration: none;
    font-size: 16px;
}

.navlist li a:hover {
    cursor: pointer;
    opacity: 0.7;
    color: #fff;
}

.navh1{
text-transform: uppercase;
font-family: 'Nunito', sans-serif;

}

/*FOOTER*/

.butttomsec {
    background-color: #565656;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
}

.rights {
    color: white;
    text-align: center;
    font-size: 12px;
}

footer{
    background-color: #181818;
    position: relative;
    bottom: 15px;

}

.topf{
    justify-content:space-around;
    display:flex;
    color: #7c7c7c;
    padding-bottom: 30px;
}

.cemiclogo{
    color: #7c7c7c;
    display: flex;
    padding-top: 30px;
    margin-left: 30px;
}

.aboutus ul{
    padding: 0;
}

.aboutus ul{
    color: #565656;
    list-style-type: none;
}

.refs a{
    text-decoration: none;
    color: #565656;
}

.refs ul{
    list-style: none;
    padding: 0;
}

.code ul{
    list-style: none;
    padding: 0;
}

/*background video*/
.backvideo video{
    width: 98.5vw;
    height: 97vh;
    filter: blur(4px);
    object-fit: cover;
}


.colorfilter{
    width: 100%;
    height: 633px;
    background-color: rgb(43, 0, 0);
    position: absolute;
    opacity: 80%;
    top: 65.5px;

}

/*gototop*/
.gototop i {
    color: #F3F1F1;
    font-size: 40px;
    background-color: #76323F;
    position: fixed;
    bottom: 70px;
    right: 70px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 50%;
    z-index: 5;
}

.gototop i:hover {
    background-color: #76323fbe;

}

.board{
height: 97hv;
width: 97vw;

}

.explain{
    font-size:22px;
    text-align:center;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

.dadatitle{
    font-family: 'Nunito', sans-serif;
    text-align:center;
    color: white;
    padding: 15px;

}

.carac{
    font-size: 18px;
    position: absolute;
    text-align:center;
    right:10%;
    bottom:15%;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    text-align: justify;
}

.dadablock{
    position: absolute;
    top: 70px;
    left: 25px;
}

.cemicp{
    text-transform: uppercase;
    color: rgb(24, 24, 24);
    font-family: 'Ubuntu', sans-serif;
}

.maintext{
    margin: 80px;
    justify-content: center;
}

.maintext h1{
    padding-bottom: 30px;
    padding-top: 30px;
}

/*slider*/    

.mySlides video {
    width: 720px;
    height: 450px;
}

.next {
    position: relative;
}


.slide-content {}

.box-slider {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 0;
}

.bottoms {
    display: flex;
    justify-content: space-between;
}

.bottoms .prev {
    font-size: 60px;
    justify-content: left;
    color: #F3F1F1;
    position: relative;
    bottom: 230px;
    margin: 15px;
}



.bottoms .next {
    font-size: 60px;
    color: #F3F1F1;
    justify-content: right;
    position: relative;
    bottom: 270px;
    margin: 15px;

}

.bottoms .prev {
    font-size: 60px;
    color: #F3F1F1;
    justify-content: right;
    position: relative;
    bottom: 270px;
    margin: 15px;

}

.bottoms .next i:hover {
    font-size: 50px;
    cursor: pointer;
    transition: 0.3s;
    background-color: #181818;
    border-radius: 20px;
}

.bottoms .prev i:hover {
    font-size: 50px;
    cursor: pointer;
    transition: 0.3s;
    background-color: #181818;
    border-radius: 20px;
}

/*Go to top*/
.gototop i {
    color: #F3F1F1;
    font-size: 40px;
    background-color: #76323F;
    position: fixed;
    bottom: 70px;
    right: 70px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 50%;
}

.gototop i:hover {
    background-color: #76323fbe;

}